body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 2; 
  
}

.carousel {
    position: relative;
    z-index: 1; 
}


h2 {
    font-weight: 500;
    color: white;
}

.parrafo1 {
    font-weight: 400;
    color: white;
}

.icolor{
    color: white;
    background-color: aqua;
}

.form-label {
    color: white;
}

.boton{
    background-color: aqua !important;
}

footer {
    background-color: aqua;
    color: white;
    margin-top: 4%;
}

